<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1001000"
    android:versionName="1.1.0-SNAPSHOT"
    package="de.psdev.stabbedandroid">

    <!-- SDK conditions -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />

    <!-- Application -->
    <application />
</manifest>